:root {
  --color-black: #000000;
  --color-black-opacity-03: rgba(0, 0, 0, 0.3);
  --color-gray: #333333;
  --color-gray-lighter: #e5e5e5;
  --color-white: #ffffff;
  --color-white-alter: #f2f2f2;
  --color-white-alter-2: #e6e6e6;
  --color-white-opacity-03: rgba(255, 255, 255, 0.3);
  --color-white-opacity-06: rgba(255, 255, 255, 0.6);
  --color-error: #ff5757;
  --color-brown: #756157;
  --color-brown-alter: #615048;
  --color-brown-alter-2: #756257;
  --color-brown-opacity-03: rgba(117, 97, 87, 0.3);
  --color-blue: #82b3d3;
  --color-blue-alter: #83b3d3;
  --color-blue-alter-2: #68a2ca;
  --color-blue-dark: #3f5e72;
  --color-blue-opacity-012: rgba(131, 179, 211, 0.12);
  --color-blue-opacity-02: rgba(131, 179, 211, 0.2);
  --color-blue-opacity-03: rgba(104, 162, 202, 0.3);
  --color-green: #7db54f;
  --color-green-alter: #6c9e42;
  --color-modal-overlay: rgba(242, 242, 242, 0.8);
  --background-color-fallback: #808080;

  --outline: 3px solid var(--color-blue-alter);

  --page-header-min-height: 64px;
  --page-footer-min-height: 120px;

  --icon-checkbox-checked: url("./images/checked.svg");

  --font-family: "PT Sans", Arial, sans-serif;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html,
body {
  height: 100%;
}

body {
  min-width: 1280px;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-black);
  background: var(--color-white-alter);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.page-wrapper {
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(min-content, 1200px);
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas: "header" "content" "footer";
  background-color: var(--color-white);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.bg--main {
  background-color: var(--color-blue);
}

.bg--option-lighter {
  background-color: var(--color-blue-opacity-012);
}

.bg--option {
  background-color: var(--color-blue-opacity-02);
}

.app-button {
  -webkit-appearance: none;
  appearance: none;
  min-height: 36px;
  border: none;
  border-radius: 4px;
  padding: 8px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);
  background-color: var(--color-brown);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.button--selected {
  background-color: var(--color-green);
}

.button--optional {
  background-color: var(--color-blue);
}

.button--transparent {
  background: none;
  color: var(--color-white);
}

.app-button:hover,
.app-button:focus-visible {
  background: var(--color-brown-alter);
}

.button--selected:hover,
.button--selected:focus-visible {
  background-color: var(--color-green-alter);
}

.button--optional:hover,
.button--optional:focus-visible {
  background-color: var(--color-blue-alter-2);
}

.app-button:active,
.button--selected:active,
.button--optional:active {
  color: var(--color-white-opacity-03);
}

.app-button:disabled,
.button--selected:disabled,
.button--optional:disabled {
  color: var(--color-white);
  background-color: var(--color-gray-lighter);
}

.button--transparent:hover {
  background: none;
  opacity: 0.6;
}

.button--transparent:focus-visible {
  background: none;
  color: var(--color-white);
  outline: var(--outline);
}

.button--transparent:disabled {
  background: none;
  opacity: 0.1;
}

.app-button--large {
  min-height: 52px;
  font-size: 20px;
  line-height: 36px;
}

/* Заголовок и подзагоовок секций */

.section-title {
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black);
}

.section-subtitle {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: var(--color-gray);
}

.section-subtitle--subscribe {
  width: 475px;
}

.title--inverted {
  color: var(--color-white);
}

/* Хэдер приложения */

.page-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  min-height: var(--page-header-min-height);
  grid-area: header;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  z-index: 2;
}

.header-logo {
  align-self: stretch;
  min-width: 138px;
  margin-right: 30px;
  position: relative;
}

.header-logo img {
  width: 140px;
  height: 70px;
  position: absolute;
}

.main-navigation {
  flex-grow: 1;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.main-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.main-navigation-link {
  padding: 20px 16px;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: opacity 200ms ease;
}

.main-navigation-link:hover {
  opacity: 0.7;
}

.main-navigation-link:active {
  opacity: 0.5;
}

.main-navigation-item--current > a {
  text-decoration: underline;
  -webkit-text-decoration-color: var(--color-brown-alter-2);
          text-decoration-color: var(--color-brown-alter-2);
  text-decoration-thickness: 2px;
  text-underline-offset: 19px;
  text-underline-position: under;
}

.main-navigation-item--current > a:hover {
  opacity: 1;
}

.user-actions-menu {
  min-width: 268px;
  display: grid;
  grid-template-columns: 88px 160px;
  column-gap: 20px;
  align-items: start;
}

.user-actions-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.user-action-item {
  min-width: 44px;
  height: 64px;
  position: relative;
}

.user-action {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 22px 12px;
  border: 0;
  background-color: inherit;
  cursor: pointer;
  transition: transform 150ms ease;
}

.user-action:hover {
  transform: scale(1.15);
}

.user-action:before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
}

.user-action--search:before {
  background-image: url("./images/search.svg");
}

.user-action--favorites:before {
  background-image: url("./images/heart.svg");
}

.favorite-counter {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  height: 20px;
  border-radius: 9999px;
  padding: 0 4px;
  font-size: 10px;
  line-height: 10px;
  color: var(--color-white);
  background-color: var(--color-green);
}

.user-action--favorites-counter {
  position: absolute;
  top: 10px;
  margin-left: -24px;
  z-index: 1;
}

@-moz-document url-prefix() {
  .user-action--favorites-counter {
    margin-left: 20px;
  }
}

.user-buttons {
  padding-top: 14px;
}

.user-buttons > button {
  margin-bottom: 8px;
}

.want-here-button {
  min-width: 160px;
  padding: 8px 34px;
}

/* Контейнер с основным контентом */

.page-content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  min-height: calc(
    100vh - var(--page-header-min-height) - var(--page-footer-min-height)
  );
  grid-area: content;
}

/* Баннер на главной странице */

.hero {
  min-height: 485px;
  padding-top: 51px;
  background-image: url("./images/hero-background.jpg");
  background-color: var(--background-color-fallback);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image {
  margin: 0 auto;
}


/* Преимущества */

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantage-item {
  min-width: 400px;
  display: flex;
}

.advantage-item--imaged {
  grid-column: 1 / -1;
}

.advantages-title-1 {
  margin-bottom: 21px;
  padding: 69px 270px;
}

.advantages-title-1 > .section-title {
  margin-bottom: 25px;
}

.advantages-title-2 {
  padding: 64px 347px;
}

.advantage {
  flex-basis: 400px;
  min-height: 385px;
  padding: 103px 84px 81px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.advantage-image {
  object-fit: cover;
}

.advantage-image--before {
  order: -1;
}

.advantage--with-icon {
  padding: 183px 85px 81px;
}

.advantage-title {
  width: 175px;
  margin: 0 0 30px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--color-black);
  text-transform: uppercase;
  text-align: center;
  white-space: pre-line;
  order: -2;
}

.advantage-title--lower {
  margin-top: 10px;
}

.advantage--underlined:after {
  content: "";
  margin: 0 auto 30px;
  display: block;
  width: 60px;
  height: 2px;
  background-color: var(--color-black-opacity-03);
  order: -1;
}

.bg--main .advantage-title,
.bg--main .advantage-slogan {
  color: var(--color-white);
}

.bg--main.advantage--underlined:after {
  background-color: var(--color-white-opacity-03);
}

.advantage-slogan {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: var(--color-gray);
}

.advantage-slogan span:after,
.section-subtitle span:after {
  content: "\A";
  white-space: pre;
}

.advantage-icon {
  position: absolute;
  top: 79px;
}

/* Поиск гостинц*/

.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 304px;
}

.hotel-search__open-popup-button {
  margin: 54px 108px 0;
  padding: 8px 50px;
}

/* Подписка */

.subscribe {
  width: 1200px;
  min-height: 415px;
  padding: 96px 258px;
  background-image: url("./images/subscribe.jpg");
  background-color: var(--background-color-fallback);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe--cleared {
  background-image: none;
  background-color: var(--color-white);
}

.subscribe-form-container {
  padding-top: 54px;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 452px 232px;
}

.subscribe-input {
  margin: 0;
  padding: 14px 20px;
  border: none;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  font-family: inherit;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 24px;
}

.subscribe-input--alter {
  background-color: var(--color-white-alter);
}

.subscribe-button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

/* Хлебные крошки */

.breadcrumbs {
  margin: 0 0 40px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 28px;
}

.breadcrumbs-item {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-white);
}

.breadcrumbs-link,
.breadcrumbs-link:visited {
  color: inherit;
}

.breadcrumbs-link:hover {
  color: var(--color-white-opacity-06);
}

.breadcrumbs-link:active {
  color: var(--color-white-opacity-03);
}

.breadcrumbs-item:after {
  display: block;
  width: 8px;
  height: 20px;
  content: "";
  background: url("./images/arrow-right.svg") no-repeat;
  background-size: contain;
  position: absolute;
  right: -18px;
  top: 0.3em;
}

.breadcrumbs-item--current:after {
  display: none;
}

.catalog-page-title {
  margin: 0 0 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: var(--color-white);
}

/* Фильтр отелей */

.filter {
  max-width: 1200px;
  min-height: 412px;
  padding: 35px 70px 70px;
  background-image: url("./images/filter-background.jpg");
  background-color: var(--background-color-fallback);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.filter-form {
  display: flex;
  gap: 70px;
}

.filter-reset-button,
.filter-submit-button {
  width: 191px;
  height: 36px;
}

.filter-submit-button {
  margin-bottom: 16px;
}

.filter-buttons {
  padding-top: 56px;
}

.filter-set {
  margin: 0;
  border: none;
  padding: 0;
}

.filter-set--extra {
  margin-left: auto;
}

.filter-set legend {
  margin: 0 0 32px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: var(--color-white);
}

.filter-set-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-input {
  padding-left: 36px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--color-white);
  position: relative;
  transition: opacity 300ms ease;
}

.form-input:hover {
  opacity: 0.6;
}

.form-input:active {
  opacity: 0.3;
}

.input {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.input-icon {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: var(--color-white);
  cursor: pointer;
}

.checkbox-icon {
  border-radius: 4px;
}

.checkbox-icon:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: var(--icon-checkbox-checked);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity 250ms ease;
}

.radio-icon {
  border-radius: 50%;
}

.radio-icon:before {
  content: "";
  display: block;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: var(--color-blue-dark);
  opacity: 0;
  transition: opacity 250ms ease;
}

.input-icon,
.input-view {
  cursor: pointer;
}

.input:checked + .input-icon:before {
  opacity: 1;
}

.input:focus-visible + .input-icon {
  outline: var(--outline);
  outline-offset: 1px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.input:focus-visible + .checkbox-icon {
  border-radius: 5px;
}

.input:focus-visible + .radio-icon {
  border-radius: 17px;
}

.input:active + .checkbox-icon {
  outline: 2px solid var(--color-blue-alter);
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.price-inputs {
  width: 288px;
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 2px;
}

/* сброс стилей для числовых инпутов в Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* сброс стилей для числовых инпутов в Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.price-input,
.price-label {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-black);
}

.price-input {
  width: 143px;
  padding: 12px 45px 12px 20px;
  border: none;
  background-color: var(--color-white-alter);
}

.price-label {
  font-weight: 400;
  opacity: 0.3;
  position: relative;
  right: 20px;
  margin-left: -18px;
}

.price-input:hover,
.price-input:focus-visible {
  background-color: var(--color-white-alter-2);
}

.price-input:focus-visible {
  outline: var(--outline);
}

.price--from {
  border-radius: 4px 0 0 4px;
}

.price--to {
  margin-left: auto;
  border-radius: 0 4px 4px 0;
}

.price-slider-wrapper {
  margin-top: 20px;
  position: relative;
}

.slider-element {
  margin: 0;
  border: none;
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
}

.slider-point {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  cursor: grab;
}

.slider-point--second {
  left: 208px;
  top: 0;
}

.slider-axis {
  width: 226px;
  height: 4px;
  left: 0;
  top: 8px;
}

.slider-axis--second {
  width: 287px;
  opacity: 0.3;
}

/* Футер страницы */

.page-footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  min-height: var(--page-footer-min-height);
  grid-area: footer;
  padding: 40px 70px 30px;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  justify-items: center;
  align-items: center;
  column-gap: 20px;
}

.social-list {
  width: 141px;
  min-height: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 15px;
}

.social-item {
  display: grid;
}

.social-link {
  position: relative;
}

.social-icon {
  position: absolute;
  inset: 0;
  margin: auto;
  object-fit: contain;
}

.social-icon path {
  fill: var(--color-blue-alter);
}

.social-link:hover path,
.social-link:focus-visible path {
  fill: var(--color-blue-alter-2);
}

.social-link:active path {
  fill: var(--color-blue-opacity-03);
}

.address {
  display: grid;
  row-gap: 10px;
}

.phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.phone:hover,
.phone:focus-visible {
  color: var(--color-brown);
}

.phone:active {
  color: var(--color-brown-opacity-03);
}

.developer-link {
  align-self: center;
}

.developer-image path {
  fill: var(--color-black);
}

.developer-link:hover path,
.developer-link:focus-visible path {
  fill: var(--color-brown);
}

.developer-link:active path {
  fill: var(--color-brown-opacity-03);
}

/* Список Отлей */

.catalog {
  padding: 50px 70px 60px 70px;
}

.catalog-controls {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.search-result {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotels-list {
  margin: 0;
  border-bottom: 1px solid var(--color-white-alter-2);
  padding: 0 0 40px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.hotel-item {
  max-width: 340px;
  min-height: 438px;
  outline: 1px solid var(--color-white-alter-2);
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hotel-name {
  flex-grow: 1;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-photo {
  order: -1;
  width: 300px;
  height: 212px;
  object-fit: cover;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.hotel-properties-wrapper {
  flex-grow: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 16px;
  column-gap: 20px;
}

.hotel-properties {
  grid-column: 1 / -1;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-gray);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hotel-property {
  display: flex;
  justify-content: space-between;
}

.hotel-property-value {
  margin: 0;
}

.hotel-buttons {
  height: 36px;
}

.hotel-review {
  height: 37px;
}

.hotel-rating {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 37px;
  background-color: var(--color-white-alter);
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-gray);
  text-align: center;
  text-transform: uppercase;
}

.hotel-stars {
  height: 37px;
  padding: 10px 0;
  display: flex;
}

.star {
  margin-right: 6px;
}

/* Пагинация */

.pagination-list {
  margin: 0;
  padding: 40px 0 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-item {
  min-width: 60px;
  height: 60px;
}

.pagination-item--dotted {
  text-align: center;
}

.pagination-item--dotted button {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  padding: 0;
  font-size: inherit;
  cursor: pointer;
  background-color: inherit;
}

.pagination-link {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 0 6px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-white);
  background: var(--color-blue);
}

.pagination-link:hover,
.pagination-link:focus-visible {
  background-color: var(--color-blue-alter-2);
}

.pagination-link:active {
  background-color: var(--color-blue);
  color: var(--color-white-opacity-03);
}

.pagination-link--current,
.pagination-link--current:hover,
.pagination-link--current:focus-visible,
.pagination-link--current:active {
  background-color: var(--color-white-alter);
  color: var(--color-black);
  cursor: initial;
}

/* Панель управления видом отображения каталога */

.sort-view-controls {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
}

.catalog-view-controls {
  margin-left: 70px;
}

.view-mode {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid var(--color-gray-lighter);
  cursor: pointer;
  background-color: var(--color-white);
  background-repeat: no-repeat;
  background-position: center;
}

.view-mode:active,
.view-mode:hover,
.view-mode--checked {
  border-color: var(--color-black);
}

.view-mode:focus-visible {
  border-color: var(--color-blue-alter-2);
}

.view-mode--grid {
  background-image: url("./images/grid-view.svg");
}

.view-mode--display {
  background-image: url("./images/display-view.svg");
}

.view-mode--list {
  background-image: url("./images/list-view.svg");
}

/* Сортировки */

.sort-direction {
  -webkit-appearance: none;
          appearance: none;
  display: block;
  width: 292px;
  height: 49px;
  border-radius: 4px;
  border: 2px solid var(--color-gray-lighter);
  padding: 12px 20px;
  margin-left: auto;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-gray);
  background-color: var(--color-white);
  background-image: url("./images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 12px 7px;
}

@-moz-document url-prefix() {
  .sort-direction option {
    font-size: 0.9em;
  }
}

.sort-direction:hover,
.sort-direction:focus-visible {
  border-color: var(--color-blue-alter-2);
}

.sort-direction:disabled {
  border-color: var(--color-black);
  color: var(--color-black);
  opacity: 0.3;
}

/* Модальное окно */

.modal {
  min-width: 717px;
  border: none;
  border-radius: 30px;
  padding: 64px 70px;
  background-color: var(--color-white);
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal::backdrop {
  background-color: var(--color-modal-overlay);
}

.modal__title {
  margin-bottom: 64px;
  text-align: left;
}

.modal__form {
  width: 578px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 88px;
}

.modal__field {
  grid-column: span 2;
  position: relative;

  display: grid;
  align-items: center;
  grid-template-columns: 135px 440px;
  grid-template-rows: 48px minmax(48px, min-content);
}

.modal__field--short {
  grid-column: span 1;
  grid-template-columns: 135px 40px 30px 40px;
  grid-template-rows: auto;
}

.modal__label {
  grid-row: 1 / -1;
  align-self: start;
  min-height: 48px;
  padding: 12px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  display: inline-flex;
}

.modal__label-icon-container {
  width: 26px;
  height: 26px;
  margin-left: 15px;
  border-radius: 100%;
  background-color: var(--color-blue-alter);
  color: var(--color-white);
  position: relative;
}

.modal__label-icon {
  margin: auto;
  position: absolute;
  inset: 0;
}

.modal__tooltip {
  width: 256px;
  display: none;
  border-radius: 10px;
  padding: 22px 18px 18px 22px;
  position: absolute;
  top: 52px;
  right: 42px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: none;
  color: var(--color-white);
  background-color: var(--color-gray);
  box-shadow: 0 15px 30px 0 var(--color-black-opacity-03);
}

.modal__tooltip:after {
  --size: 14px;
  content: "";
  display: none;
  width: var(--size);
  height: var(--size);
  transform: translate(50%, -50%) rotate(-45deg);
  transform-origin: center;
  position: absolute;
  top: 0;
  right: 50%;
  background-color: var(--color-gray);
}

.modal__label-icon-container:hover + .modal__tooltip,
.modal__label-icon-container:hover + .modal__tooltip:after,
.modal__label-icon-container:hover + .modal__tooltip:before {
  display: block;
}

.modal__input {
  align-self: start;
  border: none;
  border-radius: 4px;
  background-color: var(--color-white-alter);
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
}

.modal__input:hover,
.modal__input:focus-visible,
.modal__input:hover ~ .count-button,
.modal__input:focus-visible ~ .count-button,
.modal__input:has(~ .count-button:hover) {
  background-color: var(--color-white-alter-2);
}

.modal__input:focus-visible {
  outline: var(--outline);
}

.modal__input--text {
  padding: 12px 20px;
  line-height: 24px;
}

.modal__input--text + .date-picker {
  grid-column: -1;
  margin-left: -38px;
}

.date-picker {
  width: 16px;
  height: 15px;
  background-image: url("./images/date-picker.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  pointer-events: none;
}

.modal__input--number {
  grid-area: 1 / 2 / 2 / 5;
  padding: 14px 10px;
  line-height: 20px;
  text-align: center;
}

.count-button {
  place-self: center;
  width: 20px;
  height: 20px;
  margin: 0;
  border: none;
  border-radius: 4px;
  padding: 0;
  cursor: pointer;
  position: relative;
  color: var(--color-brown-opacity-03);
  background-color: transparent;
}

.count-button:hover {
  color: var(--color-black);
}

.count-button:focus-visible {
  color: var(--color-black);
  outline: var(--outline);
}

.count-button:active {
  opacity: 0.2;
  outline: none;
}

.count-button__icon {
  position: absolute;
  margin: auto;
  inset: 0;
}

.increment-button {
  grid-area: 1 / 4 / 2 / 5;
}

.decrement-button {
  grid-area: 1 / 2 / 2 / 3;
}

.modal__input-state {
  grid-row-start: 2;
  grid-column: 2;
  align-self: start;
  max-width: 400px;
  margin: 0;
  padding: 4px 0 4px 20px;
  font-size: 16px;
  line-height: 21px;
}

.modal__input-state--error {
  color: var(--color-error);
}

.modal__submit-button {
  grid-column: span 2;
  margin-top: 48px;
  min-height: 60px;
}

.modal__close-button {
  width: 52px;
  height: 52px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 1000%;
  position: absolute;
  top: 64px;
  right: 52px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  background-color: var(--color-white-alter);
}

.modal__close-button-icon {
  position: absolute;
  margin: auto;
  inset: 0;
}

.modal__close-button:hover {
  background-color: var(--color-white-alter-2);
}

.modal__close-button:focus-visible {
  outline: var(--outline);
}

.modal__close-button:active {
  color: var(--color-black-opacity-03);
}

.modal-runner {
  margin: auto;
  grid-row-start: 2;
}
